[build]
  base = "project"
  command = "npm run build"
  publish = "dist"     # << FIXED

[build.environment]
  # VITE_API_BASE will be set in Netlify UI
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
[dev]
  command = "npm run dev"
  port = 5173
